<!--The content below is only a placeholder and can be replaced.-->
<header id="header"> 
    
    
  <img src="../assets/images/angular.png" id="logo"  >

  <div class="title-subtitle">
      <h1><a [routerLink]="['/']"> {{title}} </a> </h1>
      <p> {{description}} </p>    
  </div>
  
  <a class="btn-add-album" [routerLink]="['/crear-album']">
      Crear album
  </a>
  <div class="clearfix"></div>
</header>

<section class="main">
  <!-- Con esto mostramos otros componetes
      <favoritos-list></favoritos-list>
  -->
      <router-outlet> </router-outlet>
  <div class="clearfix"></div>
</section>
