<h2> {{titulo}} </h2>

<form #formAlbum="ngForm" (ngSubmit)="onSubmit()">
    <label> Nombre </label>
    <p>
        <input type="text" #title="ngModel" name="title" [(ngModel)]="album.title" required >
        <span *ngIf='!title.valid && title.touched'>
            El nombre es obligatorio
        </span> 
    </p>
    <label> Descripcion </label>
    <p>
        <textarea #description="ngModel" name="description" [(ngModel)]="album.description" required></textarea>
        <span *ngIf='!description.valid && description.touched'>
            La descripcion es obligatorio
        </span>
    </p>
    <input type="submit" value={{buttomtitulo}} [disabled]="!formAlbum.form.valid" />
</form> 