<h1> {{title}} </h1>
<div class="loading" *ngIf="loading">
    <img src="../../assets/images/loader.gif" >
</div>

<ul id="album-list">
    <li *ngFor="let album of albums" class="album-item"> 
        <h4> {{album.title}}</h4>
        <p> {{album.description }} </p>
        <p>
            <a [routerLink] ="['/album',album._id]" class="btn btn-ver"> Ver Album </a>
            <a [routerLink]="['/crear-image',album._id]" class="btn btn-default"> Añadir Fotos </a>
            <a [routerLink]="['/edit-album',album._id]" class="btn btn-editar"> Editar </a>
            <a (click)="onDeleteConfirm(album._id)" class="btn btn-eliminar"> Eliminar </a>
        </p>
        <div class="seguro" *ngIf="confirmado==album._id">
            <a (click)="onDeleteAlbum(album._id)" class="btn btn-eliminar">Elimniar</a>
            <a (click)="onCancelAlbum()" class="btn btn-ver">Cancelar</a>
        </div>
    </li>
</ul>