<h2>{{titulo }} </h2>

<form #formImage="ngForm" (ngSubmit)="onSubmit()">
    <label> Titulo:</label>
    <p> 
        <input type="text" #title="ngModel" name="title" [(ngModel)]="image.title" required />
        <span *ngIf="!title.valid && title.touched">
            El titulo no es valido
        </span>
    </p>
    <div *ngIf="is_edit">
        <label> Sube tu Foto </label>
        <p>
            <input type="file" placeholder="Subir imagen.." (change)="fileChangeEvent($event)" />
        </p>
    </div>
    <input type="submit" value="{{ btn_titulo }}" [disabled]="!formImage.form.valid" />
</form>