<div class="loading" *ngIf="loading">
    <img src="../../assets/images/loader.gif" >
</div>

<h3> {{titulo}} </h3>

<div *ngIf="image" class="image-box">
    <a [routerLink]="['/album',image.album._id]" class="btn btn-ver" >Volver al album </a>
    <a [routerLink]="['/editar-image',image._id]" class="btn btn-editar" >Editar imagen </a>
    <a (click)="onDeleteConfirm(image._id)" class="btn btn-eliminar">Eliminar</a>

    <div class="seguro" *ngIf="confirmado == image._id">
        <a (click)="onDeleteImage(image._id)" class ="btn btn-eliminar" >  Eliminar </a>
        <a (click)="onCancelImage()" class="btn btn-ver"> Cancel </a>
    </div>


    <h1>{{ image.title }}</h1>
    <img class="image" src="{{api_url+image.picture}}" />
</div>

